<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
<% end %>
<% @user.posts.each do |post| %>
  <ul>
    <li>
      <h2> <%= post.title %> </h2>
      <p> <%= post.body %> </p>
    </li>
  </ul>
<% end %>
<ul>
  <li><%= link_to 'Create Posts', new_user_post_path(current_user) %></li>
  <br>
  <li><%= link_to 'View All Posts', all_users_posts_path %></li>
</ul>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
