<h1>Posts</h1>
<% if user_signed_in? %>
  <%= link_to 'Profile', user_path(current_user) %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
<% end %>

<% @posts.each do |post| %>
  <ul>
    <li> 
      <% if user_signed_in? %>
        <h3>Posted by: <%= post.user.email %></h2>
      <% end %>
      <h4><%= post.title %></h4>
      <p><%= post.body %></p>
    </li>
  </ul>
<% end %>
